/** Hoffa = display none .... get it?? */
.hoffa {
    display: none;
}
.navBtn {
    margin-top: 7px;
}
.newFactory.loadingGIF {
    margin-right: 5px;
}
.rootLabel {
    margin: 0 !important;
}
.rootNodeContainer {
    padding-bottom: 0px !important;
}
.treeContainer {
    padding-top: 0px !important;
}
#FlatTree {
    font-size: 15px;
}
.directionsContainer {
    margin-top: 20px;
}
