<% _.each(NodeFactories, function(factory) { %>
<div class="tree-folder">
    <div class="tree-folder-header factoryParent" data-id="<%= factory.get('factory_id') %>">
        <div class="tree-folder-name"><%= factory.get('label') %></div>
        <span class="badge pull-right"><%= factory.get('lowerBound') %> : <%= factory.get('upperBound') %></span>
    </div>

    <% if(factory.get('members').models.length> 0) { %>
    <div class="tree-folder-content">
        <% _.each(factory.get('members').models, function(member) { %>
        <div class="tree-folder">
            <div class="tree-folder-header">
                <div class="tree-folder-name"><%= member.get('value') %></div>
            </div>
        </div>
        <% }); %>
    </div>
    <% } %>
</div>
<% }); %>
